:root {
    --highlight-color: #e91e63;
    --background-color: #474747;
    --font-color: white;
}
.NewRoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}
.Root {
    background-color: var(--background-color);
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    &:hover .PostTitleContainer {
        border-left: 0.5rem solid var(--highlight-color);
    }
}

.PostTitleContainer {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    cursor: pointer;
    padding-left: 0.5rem;
    border-left: 0.5rem solid transparent;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.LinkWrapper {
    flex: 1;
    color: var(--font-color);
    &:focus,
    &:active {
        outline-color: var(--highlight-color);
        outline-offset: calc(1rem - 4px);
        outline-style: solid;
        outline-width: 3px;
    }
}

.LinkWrapper > span {
    text-decoration: underline solid var(--highlight-color);
}
.PostTitle {
    display: block;
}

.PostID {
    background-color: var(--font-color);
    padding: 0 0.5rem;
    font-size: 0.75em;
    color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
}

.PostFooter {
    flex-direction: column;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.PostFooter > * {
    flex: 1;
}

.Content {
    padding: 0.5rem 1rem;
    background-color: #a9a9a921;
    margin-bottom: 3rem;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.ButtonContainer {
    display: flex;
    width: 100%;
}
.ButtonContainer > button {
    // Position
    // Display
    flex: 1;
    // Box
    margin: 0 0.5rem;
    border: 1px solid var(--font-color);
    padding: 0.25rem;
    // Other
    background-color: transparent;
    // color: var(--font-color);
    color: rgba(245, 245, 245, 0.55);
    white-space: nowrap;
    // Transition
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.ButtonContainer > button:hover,
.ButtonContainer > button:focus,
.ButtonContainer > button:active {
    color: white;
    border: 1px solid var(--font-color);
    background-color: var(--highlight-color);
    outline: none;
}

@media all and (max-width: 800px) {
    .PostTitleContainer {
        padding: 0.5rem;
        font-size: 1rem;
    }
    .Root,
    .PostFooter {
        padding-bottom: 0;
    }
}

@media all and (max-width: 480px) {
    .ButtonContainer {
        flex-direction: column;
    }

    .ButtonContainer > button {
        margin-bottom: 0.5rem;
    }
}

@media all and (min-width: 800px) {
    .LinkWrapper {
        justify-content: flex-end;
        padding-right: 1rem;
    }
    .Root {
        display: flex;
        background-color: transparent;
        border-bottom: 2px solid;
        flex-direction: column;
    }

    .PostFooter {
        border-radius: unset;
        border: unset;
        border-bottom: none;
        max-width: 40%;
        font-size: 0.75rem;
        background-color: transparent;
    }

    .ButtonContainer > button {
        align-self: center;
        min-height: 3rem;
    }
}
